.single-country-details {
  height: 750px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.first-row {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.country-information {
  width: 100%;
  align-self: center;
  background-color: ivory;
  font-size: 24px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(66, 103, 178);
  text-align: center;
  margin-top: 20px;
  white-space: nowrap;
}

.more-country-info {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.more-country-info img {
  width: 500px;
}

#cities {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.city-info img {
  width: 250px;
  height: 200px;
  margin: auto;
}

.city-information {
  width: 250px;
  margin: auto;
  margin-top: 20px;
  align-self: center;
  background-color: ivory;
  font-size: 24px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(66, 103, 178);
  text-align: center;
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .single-country-details {
    margin: auto;
  }

  /* .city-info {
    padding: 10px 0 10px;
  } */

  .city-info img {
    width: 300px;
    height: 200px;
    margin-top: 20px;
  }

  .city-information {
    width: 200px;
    font-size: 20px;
    white-space: nowrap;
    margin-top: 10px;
  }

  .country-information {
    width: 325px;
  }

  .more-country-info img {
    width: 300px;
  }

  #cities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .single-country-details {
    height: 750px;
    display: block;
    overflow-y: scroll;
  }

  .first-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #cities {
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 15px 0;
  }

  .more-country-info {
    width: 100vw;
    font-size: 14px;
  }

  .country-information {
    display: block;
    font-size: 20px;
    width: 350px;
  }

  .more-country-info img {
    width: 300px;
    margin: auto;
  }

  .city-info img {
    width: 300px;
    height: 30vh;
    margin: auto;
  }

  .city-info .city-information {
    width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .city-info {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .single-country-details {
    height: 1000px;
  }

  .city-info img {
    width: 300px;
    height: 200px;
    margin-top: 20px;
  }

  .city-info .city-information {
    width: 400px;
    font-size: 24px;
  }

  .more-country-info img {
    width: 350px;
  }

  .country-information {
    width: 400px;
  }

  #cities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
